* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

html {
  margin: 0 auto;
  max-width: 2560px;
}

body {
  font-family: Arial;
  background-color: #F3E9E4;
  color: #3D2B24;
  font-size: 16px;
}
  
#navbar {
  width: 100%;
  background-color: #F1D6BC;
  height: 3rem;
  display: flex;
  align-items: center;
  border: 1px dotted; color: red;
}

.logo {
  font-family: "Limelight", sans-serif;
  width: 30%;
  margin-left: 20px;
  font-size: 2rem;
  border: 1px dashed green;
}

.navlinks {
  border: 1px dashed black;
  width: 70%;
  display: flex;
  justify-content: flex-end;
}

a, a:visited {
  color: #3D2B24;
}

.navlinks > a {
  font-size: 1.3rem;
  margin-right: 20px;
}
      
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 20px 0 20px;
  height: 90vh; 
  border: 1px solid red;
}

.drinksmenu {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border: 1px dashed green;
  width: 80%;
} 
.drink {
  display:flex;
  flex-direction: column;
  width: 150px;
  align-items: center;
  border: 1px dashed cyan;
  margin: 0;
  
}

.drink > img {
  width: 150px;
  margin: 0;
}
.drink > p {
  font-size: 12px;
}
.drinkstext {
  width: 80%;
  font-size: 2rem;
  border: 1px dashed purple;
}
p {
  font-size: 1.6rem;
}
  
img {
  border: 1px solid grey;
  margin: 10px 20px 30px 40px;
  border-radius: 10px;
}

h1 {
  font-size: 3em;
  font-family: "Limelight", sans-serif;
  margin-bottom: 20px;
}

#navbar-social {
  width: 100%;
  background-color: antiquewhite;
  height: 5rem;
  display: flex;
  justify-content: space-around;
  align-items: center; 
}

.navlinks-social {
  display: flex;
  justify-content: space-around;
}

a, a:visited {
  color: #3D2B24;
}

.navlinks-social > a {
  font-size: 1.3rem;
  margin-right: 20px;
}
  
/* h1, h2 {
  color:#3D2B24;
  font-family: "Limelight", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items:start;
}
  
p {
  font-family: "Kaisei Decol", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
  color: #3D2B24;
}
 
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  width: 10px;
  max-width: 50%;
  max-height: 50%;
} */